<%= header_section("You already have an active subscription") %>
<div>
  <p>You attempted to purchase <%= @subscription.link.name %>, but you already have an active subscription to this membership.</p>
  <p>To make changes to your subscription, including upgrading or downgrading your tier, please visit your subscription management page using the link below.</p>
</div>
