<%= header_section(@subject) %>
<div>
  <p>A customer (<%= @purchase.email %>) attempted to purchase your product (<%= @purchase.link.name %>) for <%= @purchase.formatted_display_price %>.</p>
  <p>The purchase was blocked because the price after discounts and affiliate commission resulted in negative net revenue for you.</p>
  <p>To fix this, consider increasing the sale price, reducing the affiliate commission, or adjusting any applicable discounts.</p>
</div>

