@import "../stylesheets/font";
@import "../stylesheets/definitions";

.gumroad-button {
  @include globals;
}

a.gumroad-button {
  --parent-color: 0 0 0 !important;
  font-family: $font-family;
  $icons: [];
  @import "../stylesheets/icons";
}
